* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.About{
    color: #FFFF;
    font-size: 32px;
} 

.aboutWrapper {
    max-width: 400px;
    margin: 40px auto;  
}

.aboutMe{
    color: #FFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
}

 .MyImg {
    max-width: 200px;
    float:right;
    position: absolute;
    top:120px;
    right: 0;
   
} 