* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.About{
    color: #FFFF;
    font-size: 32px;
}

.aboutWrapper {
    max-width: 640px;
    margin: 40px auto;
}

.aboutSection {
    margin: 32px;
    max-width: 540px;
}

.aboutMe{
    color: #FFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
   
}

.MyImg {
    width: 200px;
    float:right;
    border-radius: 50%;
}