* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutWrapper {
    max-width: 640px;
    margin: 40px auto;
}

.aboutSection {
    margin: 32px;
    max-width: 540px;
}

.aboutMe{
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
}

.myImg {
    max-width: 300px;
}