* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

#submitBtn {
    border:none;
    letter-spacing: 2px;
    background-color: #D9B8C4;
    color: #402A2C;
    font-weight: 300;
}

#submitBtn {
    background-color: #664A50;
}

