* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.logoWrapper {
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nameLink {
    color: black;
    margin-right: 100%;
    font-size: 20px;   
}

.nameLink:hover {
    color: rgb(245, 167, 195);
}

.navbarLink {
    display: flex;
}

.navbarLink li a {
    color: black;
}

.navbarLink li a:hover {
    color: rgb(245, 167, 195);
}

.navbarLink li a:focus {
    color:rgb(245, 167, 195);
}
